 <html>
	<head>
		<title><%=title%></title>
	</head>
	<body> 
		 <% for(i=0; i< re.length; i++) {%>  
            <a href="<%= re[i].url %>" title="<%= re[i].title %>"><img src="<%= re[i].img %>"/></a> 
        <% } %>  
	</body>
</html>


